:root{
    --cell-width: 2.5vw;
    --cell-height: 2.5vw;

}

body,
html {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.board {
    
    border: solid 0.5px;
    max-width: calc(var(--cell-width)*8);
}

.board-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}

.cell-black {
    width:  var(--cell-width);
    height: var(var(--cell-height));
    background-color: black;
}

.cell-white {
    width:  var(--cell-width);
    height: var(--cell-height);
    background-color: white;
}