@font-face {
    font-family: lakeshore;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}

:root {
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33)
}

body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 242, 2);
    margin: 0;
}

.logo {
    font-size: 2em;
    background-color: rgb(238, 179, 15);
    display: block;
    text-align: center;
    font-family: lakeshore;
    text-transform: uppercase;
    font-size: 9vw;
    color: rgb(233, 15, 8);

}

.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    
}


.details-image {
    width: 80vw;
    height: 70vw;
    border-radius: 25%;
    border: solid 3px rgb(229, 143, 143);

}
.details-image:hover {
    transform: scale(1.1);
    margin-left: 1vw;
  }


.details-frame { 
    position: relative;
}

.details-title {
    display: block;
    color: coral;
    font-size: 4vw;
    font-style: italic;
    bottom: 1vw;
    position: absolute;
    left: 3vw;
    bottom: 2vw;
    background-color: antiquewhite;
    
    
}

.thumbnails-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    padding-right: 4vw;
    margin-left: -5vw;
}

.thumbnails-item {
    max-width: var(--thumbnails-img-width);
    min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
    margin-top: 2.5vh;
    border: solid 3px rgb(244, 127, 127);
    border-radius: 25%;
    overflow: hidden;


}

.thumbnails-image {
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
    display: block;

}

.thumbnails-title {
    display: block;
    text-align: center;
    height: var(--thumbnails-title-height);
    background-color: rgb(241, 241, 128);
    color: rgb(229, 104, 73);
    font-size: smaller;
    justify-content: space-around;
}

.thumbnails-anchor {
    text-decoration: none;
}
.thumbnails-item:hover {
    transform: scale(1.1);
    margin-left: 1vw;
  }
  
  
  
@media (min-width: 560px) {


    .logo {
        font-size: 4vw;
    }

    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 80vh;
        order: -1;
        justify-content: flex-start;
    }

    .main-class {
        flex-direction: row;
        justify-content: space-around;
    }

    .details-image {
        width: 30vw;
        height: 30vw;

    }

    .details-container {
        margin-top: 5%;
        justify-content: center;
    }

    .details-title {
        display: block;
        color: coral;
        font-size: 2vw;
        bottom: 4vw;
    }

    @media (min-width: 900px) {

        .main-class {
            flex-direction: row;
            justify-content: space-around;

        }

        .thumbnails-list {

            flex-direction: row;
            flex-wrap: wrap;
            max-height: 95vh;
            max-width: 20vh;
            padding-right: 3vh;
        }

        .logo {
            padding-top: 1vh;
        }

        .thumbnails-item {

            min-height: 1vh;
        }

        .thumbnails-image {
            width: calc(var(--thumbnails-img-width)*0.5);
            height: calc(var(--thumbnails-img-height) * 0.5);
            

        }

        .thumbnails-title {

            font-size: 1vw;
            height: calc(var(--thumbnails-title-height) *0.5);
            
        }

        .details-container {

            padding-right: 10vh;
            padding-top: 4vh;
        }

        .details-image {
            width: 37vw;
            height: 37vw;
            border-radius: 25%;
            margin-top: -10%;
            border-radius: 15%;
        }
         .details-title{
         font-size: 2vw;
   }
    }
}
