@font-face {
    font-family: lakeshore;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}

:root {
    --thumbnails-img-width: 25vw;
    --thumbnails-img-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33)
}

body,
html {
    height: 100%;
    overflow-y: hidden;
    background-image: url("/Users/michaelisaev/Documents/Course/html-css-js-introduction-/homework-album-covers/images/Background.jpeg")
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.logo {
    font-size: 2em;
    background-color: rgb(238, 179, 15);
    display: block;
    text-align: center;
    font-family: lakeshore;
    text-transform: uppercase;
    font-size: 9vw;
    color: rgb(255, 8, 0);
    background-image: url("/Users/michaelisaev/Documents/Course/html-css-js-introduction-/homework-album-covers/images/backlogo.jpeg");

}

.logo-image {
    width: 12vh;
    height: 12vh;
    padding-top: 2vh;
}

.main-class {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;

}

.details-image {
    width: 65vw;
    height: 65vw;
    border-radius: 25%;
    border: solid 3px rgb(0, 0, 0);

}

.details-image:hover {
    transform: scale(1.1);
    margin-left: 1vw;
}

.details-frame {
    position: relative;
    margin-bottom: 5vh;
}

.details-title {
    display: block;
    font-size: 1em;
    font-style: italic;
    color: rgb(0, 0, 0);
    bottom: 1vw;
    position: absolute;
    left: 3vw;
    bottom: 2vw;
    background-color: rgb(221, 171, 132);
    border-radius: 3vw;

}

.thumbnails-list {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 31vh;
    overflow-y: auto;
    justify-content: space-around;
    padding-right: 4vw;
    margin-left: -5vw;


}

.thumbnails-item {
    max-width: var(--thumbnails-img-width);
    min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
    margin-top: 2.5vh;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 15%;
    overflow: hidden;
    display: flex;
    justify-content: center;


}

.thumbnails-image {
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
    display: block;

}

.thumbnails-title {
    display: block;
    text-align: center;
    height: var(--thumbnails-title-height);
    background-color: rgb(244, 197, 111);
    color: rgb(0, 0, 0);
    font-size: 0.7em;
    justify-content: space-around;

}

.thumbnails-anchor {
    text-decoration: none;
}

.thumbnails-item:hover {
    transform: scale(1.1);
    margin-left: 1vw;
}

.external-cite {
    color: rgb(30, 79, 91);
    background-color: rgb(219, 179, 130);
    font-style: italic;
    border-radius: 25%;
    margin-top: vh;
    font-size: medium;

}

.external-cite:hover {
    transform: scale(1.2);
}

.footer {
    font-size: xx-small;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0%;
    font: sans-serif;
}

.external-cite:link {
    color: rgb(135, 22, 167);
}

.external-cite:visited {
    color: rgb(0, 0, 0)
}

.external-cite:hover {
    color: yellow;
}

@media (min-width: 560px) {

    .logo {
        font-size: 4vw;
    }

    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 120vh;
        max-width: 40vh;
        order: -1;
        justify-content: flex-start;
        margin-top: 0;
        margin-bottom: 13vh;
    }

    .thumbnails-item {
        border-radius: 25%;
    }

    .thumbnails-title {
        font-size: 1em;
    }

    .main-class {
        flex-direction: row;
        justify-content: space-around;
    }

    .details-image {
        width: 35vw;
        height: 35vw;

    }

    .details-container {
        margin-top: 4vh;
    }

    .details-title {
        display: block;
        font-size: 1em;
        bottom: 4vw;
    }

    .external-cite {
        margin-top: 0vh;
        font-size: smaller;
    }

    .footer {
        font: 0.5em sans-serif;
    }
}

@media (min-width: 900px) {

    .main-class {
        flex-direction: row;

    }

    .thumbnails-list {

        flex-direction: row;
        flex-wrap: wrap;
        max-width: 15vw;
        max-height: 450vh;
        padding-right: 3vh;
        margin-bottom: 10vh;
        justify-content: flex-start;
        margin-top: -3px;


    }

    .logo {
        padding-top: 1vh;
        block-size: 5vw;
        font-size: 6vh;

    }

    .thumbnails-item {

        min-height: 1vh;
    }

    .thumbnails-image {
        width: calc(var(--thumbnails-img-width)*0.5);
        height: calc(var(--thumbnails-img-height) * 0.6);

    }

    .thumbnails-title {

        font-size: 1.4vw;
        height: calc(var(--thumbnails-title-height) *0.5);
    }

    .details-image {
        width: 33vw;
        height: 33vw;
        border-radius: 25%;

    }

    .details-title {
        font-size: 1.5em;
    }

    .footer {
        font-size: small;
        size: 10vh;
    }

    .external-cite {
        font-size: medium;

    }

    .thumbnails-item {
        padding-top: 0;
        margin-top: 1.9vh;
    }

    .details-container {
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15vh;

    }


}