body {
    
    flex-direction: column;
    justify-content: right;
}


/* .movies-list{
    display:flex;
    flex-direction: column;
    justify-content:right;
    
} */

.text {
    color: brown;
}

.title{
   float: right;
position: relative;
    

    
}

.overview {

}

.movie-image {
    height: 15em;
    width: 15em;
}
